# Configuração para Supabase em produção (PostgreSQL)
# DATABASE_URL="postgresql://postgres:[SUA-SENHA]@db.[SEU-PROJECT-REF].supabase.co:5432/postgres?pgboiler=true"
# DIRECT_URL="postgresql://postgres:[SUA-SENHA]@db.[SEU-PROJECT-REF].supabase.co:5432/postgres"

# Configuração local (SQLite)
DATABASE_URL="file:./dev.db"

# Senha de Acesso ao Painel Admin
ADMIN_PASSWORD="admin"
